html{

  height:100%;
  width:100%;
  background: linear-gradient(150.64deg, #EEACF2 0%, #EFB2F3 58.6%, #FFFFFF 100%);
font-family: Calibri, Helvetica, sans-serif;}

.lead
{
  position: absolute;
  left: 12.21%;
  right: 86.55%;
  top: 5.46%;
  bottom: 8.97%;

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;

  /* identical to box height */

  color: #333333;
font-family: Calibri, Helvetica, sans-serif;}

.box
{
  position: absolute;
  left: 12.21%;
  right: 70.24%;
  top: 21.69%;
  bottom: 1.34%;

  height:70%;
  width: 49%;

  background: #F1F1F1;
  border-radius: 15px;
font-family: Calibri, Helvetica, sans-serif;}

.img
{
  position: absolute;
  left: 62.1%;
  right: 52.94%;
  top: 15.56%;
  bottom: 1.82%;

  height: 15%;
  width: 12.5%;

  background-image: : url(flame-page-under-construction.png);
font-family: Calibri, Helvetica, sans-serif;}


.first{

font-family: Calibri, Helvetica, sans-serif;}

.second{

font-family: Calibri, Helvetica, sans-serif;}

.third{

font-family: Calibri, Helvetica, sans-serif;}


.text1{
  position: absolute;
  left: 19.66%;
  right: 76.96%;
  top: 2.15%;
  bottom: 7.17%;

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 72px;
  width:100%;

  /* identical to box height */

  color: #636363;
font-family: Calibri, Helvetica, sans-serif;}

.text2{
  position: absolute;
  left: 19.66%;
  right: 76.96%;
  top: 26.15%;
  bottom: 7.17%;

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 72px;
  width:100%;

  /* identical to box height */

  color: #636363;
font-family: Calibri, Helvetica, sans-serif;}

.text3{
  position: absolute;
  left: 19.66%;
  right: 76.96%;
  top: 48.95%;
  bottom: 7.17%;

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 72px;
  width:100%;

  /* identical to box height */

  color: #636363;
font-family: Calibri, Helvetica, sans-serif;}

.text4{
  position: absolute;
  left: 19.66%;
  right: 76.96%;
  top: 68.95%;
  bottom: 7.17%;

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 72px;
  width:100%;

  /* identical to box height */

  color: #636363;
font-family: Calibri, Helvetica, sans-serif;}

.text5{
  position: absolute;
  left: 19.66%;
  right: 76.96%;
  top: 86.4%;
  bottom: 7.17%;

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 72px;
  width:100%;

  /* identical to box height */

  color: #636363;
font-family: Calibri, Helvetica, sans-serif;}
